<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="films"> </ion-back-button>
    </ion-buttons>
    <ion-title>Detalles película</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-spinner *ngIf="isLoading && !film"></ion-spinner>
  </div>
  <ion-grid *ngIf="film" class="ion-content-center">
    <ion-row>
      <ion-col *ngIf="film.poster" size-md="4" offset-md="2" size-xs="12">
        <ion-img
          src="http://image.tmdb.org/t/p/w500/{{film.poster}}"
          class="poster"
        ></ion-img>
      </ion-col>
      <ion-col size-xs="12" size-md="6" class="ion-padding">
        <div>
          <h2>{{film.title}}</h2>
        </div>
        <div class="relaseDate">
          <p><b>Fecha de estreno: </b>{{film.releaseDate | date}}</p>
        </div>
        <div>
          <p><b>Idioma:</b> {{fullLanguageString(film.language)}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size-md="6"
        offset-md="2"
        class="ion-text-justify ion-padding"
        style="line-height: 25px"
      >
        <div>
          <ion-textarea><b>Resumen:</b> {{film.overview}}</ion-textarea>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
