<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Buscador de Peliculas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size-md="6" size-lg="4">
        <div class="ion-text-center" *ngIf="isLoading">
          <ion-spinner color="primary"></ion-spinner>
        </div>
        <ion-item>
          <ion-label position="floating">Buscar una película</ion-label>
          <ion-input [(ngModel)]="inputText"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" size-lg="4">
        <ion-button expand="block" (click)="fetchFilms()">Buscar</ion-button>
      </ion-col>
      <div class="ion-text-center" *ngIf="!isLoading && !noResults">
        <p>No se han encontrado películas con ese título</p>
      </div>
    </ion-row>
    <ion-row *ngIf="totalFilms > 0">
      <ion-col size-md="6" size-lg="4" class="ion-text-center">
        <p style="font-weight: bold">
          Se han encontrado {{totalFilms}} resultados!
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" size-lg="4">
        <ion-list>
          <ion-item
            *ngFor="let film of loadedFilms; let index"
            [routerLink]="['/','films','film-detail', film.id]"
          >
            <p>{{film.title}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
